html, body {
	width: 100%;
	height: 100%;
}

.title {
	padding-left: 30px;
	font-family: 'Bungee Inline', cursive;
	background-color: #48C8A1;
}

#metersearch {
	background-image: url("../images/parking_meter.jpeg");
	background-size: cover;
	width: 100%;
	height: 65%;
}

.blur {
    filter: blur(4px);
}

#centerSearchBox {
	text-align: center;
	line-height: 425px;
}

#alignright {
	text-align: right;
	margin-top: 5px;
}

.centerText {
	text-align: center;
	line-height: 100px;
}