html, body {
	width: 100%;
	height: 100%;
}

.title {
	padding-left: 30px;
	font-family: 'Bungee Inline', cursive;
	background-color: #48C8A1;
}

#metersearch {
	background-image: url("../images/parking_meter.jpeg");
	background-size: cover;
	width: 100%;
	height: 65%;
}

.blur {
    filter: blur(4px);
}

#centerSearchBox {
	text-align: center;
	line-height: 425px;
}

#alignright {
	text-align: right;
	margin-top: 5px;
}

.headerText {
	display: block;
	text-align: center;
	line-height: 100px;
	font-weight: bold;
}

.centerInput {
	text-align: center;
	line-height: 50px;
	margin-left: 200px
}

#marginTop {
	margin-top: 80px;
}

#marginTop2 {
	margin-top: 75px;
}

#alignButton {
	margin-left: 655px;
}

.centerText {
    text-align: center;
}

.centerBox {
	margin: 0 auto;
	text-align: center;
	width: 300px;
}

.marginCenter {
	margin: 0 auto;
}

#login-info {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 5%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}